ul.articles {
    padding: 0;
    margin: 0;

    li {
        cursor: pointer;
        padding: 0;
        margin: 0;
        list-style-type: none;
        border-bottom: @border-gray;
        font-size: 13px;
        .c-dark();

        &:nth-child(1) {
            border-top: @border-gray;
        }

        .article-info {
            padding: 5px 10px;
        }

        .selected {
            font-weight: 700;
            color: @brand-red;
        }
    
        .reply-count {
            text-align: center;
            min-width: 32px;
            background: rgba(0, 0, 0, 0.05);
            color: @brand-accent;
        }
    }
}

.article {
    font-size: 13px;

    .article-title {
        font-size: 16px;
        font-weight: 800;
    }

    .article-info {
        padding: 8px 8px;
        border-top: @border-gray;
    }

    .article-text {
        white-space: pre-line;
        overflow-wrap: break-word;
        border-top: @border-gray;
        border-bottom: @border-gray;
        padding: 16px 8px;

        img {
            max-width: 100%;
        }
    }
}

.nickname {
    max-width: 120px;
    
    .text-nowrap();
}