ul {
    cursor: pointer;
    padding: 0;

    li {
        margin: 0;
        padding: 5px;
        list-style-type: none;

        &:nth-child(even) {
            background: rgba(0, 0, 0, 0.1);
        }
    
        &:nth-child(odd) {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}